<h3>All users</h3>
<table class="table" ng-controller="View6Ctrl">
    <thead>
        <tr>
          <th>Name<th/>  
           
           </tr>   
          </thead>
          <tbody>
              <tr ng-repeat="user in users">   
                  <th>{{user.userName}}</th>
                  <th><button ng-click="deleteUser(user.id)" >Delete</button></th>
<!--                  <th ng-model="user.id" hidden=""></th>-->
              
             </tr> 
          </tbody>  
        
    
</table>
    


